@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

// text color
$text-black: #000;
$text-dark-black: #010f1c;
$text-white: #fff;
$text-dark-white: #949494;
// list li dot color
$list-li-color: #9e559e;
// button color
$btn-yellow: #f7ac25;
$btn-red: rgba(235, 52, 46, 1);
$btn-dark: #949494;
// bg color
$bg-color: #f4f5f6;

.heading {
  &-01,
  &-02,
  &-03 {
    font-style: normal;
    font-weight: 400;
    font-family: "Sriracha";
  }
  &-01 {
    font-size: clamp(1.5rem, 2.5vw, 3.4rem);
  }
  &-02 {
    font-size: clamp(1.2rem, 2vw, 2.8rem);
  }
  &-03 {
    font-size: clamp(1rem, 2vw, 2rem);
  }

  //   &-heading-04 {
  //     font-size: clamp(1.5rem, 5vw, 4rem);
  //   }
  //   &-heading-05 {
  //     font-size: clamp(2rem, 5.2vw, 4.5rem);
  //   }
  //   &-heading-06 {
  //     font-size: clamp(2.5rem, 6vw, 5rem);
  //   }
}
//   description style

.desc {
  &-01 {
    font-size: clamp(1rem, 1vw, 1rem);
    font-weight: 400;
  }
  &-02 {
    font-size: clamp(1rem, 1.3vw, 1rem);
    font-weight: 700;
  }
  &-01,
  &-02 {
    font-family: "Roboto";
    font-style: normal;
  }
  //   &-03 {
  //     font-size: clamp(1rem, 1.5vw, 1.4rem);
  //   }
  //   &-04 {
  //     font-size: clamp(1rem, 1.8vw, 1.6rem);
  //   }
  //   &-05 {
  //     font-size: clamp(1rem, 2vw, 1.8rem);
  //   }
  //   &-06 {
  //     font-size: clamp(1rem, 2.2vw, 2rem);
  //   }
}

.m {
  &-00 {
    margin: 0;
  }
  &-auto {
    margin: auto;
  }
}
.p {
  &-00 {
    padding: 0;
  }
}
.w {
  &-100 {
    width: 100%;
  }
}
.text {
  &-center {
    text-align: center;
  }
  &-start {
    text-align: start;
  }
  &-right {
    text-align: right;
  }
}
.d-flex {
  display: flex;
}
.t {
  &-white {
    color: white;
  }
  &-black {
    color: black;
  }
}
