@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
a {
  text-decoration: none;
}

.wrapper {
  min-width: 300px;
}

.header {
  width: 100%;
  max-width: 1920px;
  min-width: 300px;
  height: 110px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 999;
}

.header__logo {
  max-width: 251px;
  width: 25vw;
  min-width: 150px;
}

.header-nav {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.header-nav .li {
  list-style: none;
  line-height: 160%;
  padding: 10px;
}

.header-nav .li .a {
  white-space: nowrap;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px;
  font-weight: 600;
  color: #4d5765;
}

.header-nav .li .a:hover {
  color: #eb342e;
  text-decoration: underline;
}

.header__serch {
  border: none;
  background: #fef2f1;
  border-radius: 25px;
  padding: 15px 40px 15px 20px;
}

.burgger {
  cursor: pointer;
  width: 50px;
}

.burgger .line {
  margin-top: 5px;
  height: 3px;
  background-color: #f7ac25;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.burgger .line:nth-child(1) {
  width: 5px;
}

.burgger .line:nth-child(2) {
  width: 20px;
}

.burgger .line:nth-child(3) {
  width: 30px;
}

.burgger .line:nth-child(4) {
  width: 25px;
}

.burgger:hover .line:nth-child(1) {
  width: 25px;
}

.burgger:hover .line:nth-child(2) {
  width: 30px;
}

.burgger:hover .line:nth-child(3) {
  width: 25px;
}

.burgger:hover .line:nth-child(4) {
  width: 5px;
}

.close {
  cursor: pointer;
  width: 60px;
}

.close .line {
  margin-top: 5px;
  height: 3px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.close .line:nth-child(1) {
  width: 30px;
  -webkit-transform: rotate(-40deg) translate(-6px);
          transform: rotate(-40deg) translate(-6px);
}

.close .line:nth-child(2) {
  display: none;
}

.close .line:nth-child(3) {
  display: none;
}

.close .line:nth-child(4) {
  width: 30px;
  -webkit-transform: rotate(40deg) translate(-6px);
          transform: rotate(40deg) translate(-6px);
}

.close:hover .line:nth-child(1) {
  width: 30px;
  background-color: red;
}

.close:hover .line:nth-child(2) {
  display: none;
}

.close:hover .line:nth-child(3) {
  display: none;
}

.close:hover .line:nth-child(4) {
  width: 30px;
  background-color: red;
}

@media (min-width: 1240px) {
  .burgger {
    display: none;
  }
}

@media (max-width: 1240px) {
  .header-nav {
    position: absolute;
    top: 108px;
    left: 0px;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header-nav .li {
    list-style: none;
    line-height: 160%;
    padding: 10px;
    margin-top: 30px;
  }
  .header-nav .li .a {
    white-space: nowrap;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 10px;
  }
  .header-nav .li .a:hover {
    color: #eb342e;
    text-decoration: underline;
  }
}

.menu .header-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  visibility: visible;
  height: 100vh;
  min-width: 300px;
}

.wrapper {
  min-width: 300px;
}

.btn-yellow, .btn-red {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  padding: 12px 30px;
  font-size: 15px;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-yellow {
  background-color: #f7ac25;
  color: #000;
}

.btn-yellow:hover {
  background-color: #949494;
  color: #fff;
}

.btn-red {
  background-color: #eb342e;
  color: #fff;
}

.btn-red:hover {
  background-color: #949494;
  color: #fff;
}

body {
  margin: 0%;
  padding: 0%;
}

.heading-01, .heading-02, .heading-03 {
  font-style: normal;
  font-weight: 400;
  font-family: 'Sriracha';
}

.heading-01 {
  font-size: clamp(1.8rem, 2.5vw, 3.4rem);
}

.heading-02 {
  font-size: clamp(1.2rem, 2vw, 2.8rem);
}

.heading-03 {
  font-size: clamp(1rem, 2vw, 2rem);
}

.desc-01 {
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 400;
}

.desc-02 {
  font-size: clamp(1rem, 1.3vw, 1rem);
  font-weight: 700;
}

.desc-01, .desc-02 {
  font-family: 'Roboto';
  font-style: normal;
}

.m-00 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.p-00 {
  padding: 0;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.t-white {
  color: white;
}

.t-black {
  color: black;
}

.btn-yellow, .btn-red {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  padding: 12px 30px;
  font-size: 15px;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-yellow {
  background-color: #f7ac25;
  color: #000;
}

.btn-yellow:hover {
  background-color: #949494;
  color: #fff;
}

.btn-red {
  background-color: #eb342e;
  color: #fff;
}

.btn-red:hover {
  background-color: #949494;
  color: #fff;
}

.contact {
  padding: 130px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-width: 300px;
}

.contact-form {
  background: url("../bg/contact.avif");
  max-width: 1560px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  padding: 130px 0px;
}

.contact-form .heading-01 {
  margin: 0px 0px 30px 0px;
}

.contact-form .email {
  position: relative;
  max-width: 44%;
  margin: auto;
}

.contact-form .email__input {
  width: 100%;
  padding: 19px 0px 19px 21px;
  border-radius: 50px;
  color: #949494;
}

.contact-form .email__btn {
  position: absolute;
  top: 12%;
  right: -3%;
}

.contact-icons {
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-icons img {
  margin: 0px 0px 0px 30px;
  padding: 7px;
  font-size: 15px;
  background: #949494;
  color: #fff;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-icons img:hover {
  background-color: #fdca31;
}

@media (max-width: 1560px) {
  .contact-form {
    border-radius: 0px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 100px 0px;
  }
  .contact-form {
    width: 100%;
    padding: 100px 0px;
    border-radius: 0px;
  }
  .contact-form .email {
    position: relative;
    max-width: 50%;
    margin: auto;
  }
  .contact-form .email__input {
    padding: 15px 0px 15px 21px;
  }
  .contact-form .email__btn {
    top: 10%;
    right: -5%;
    padding: 10px 20px;
  }
  .contact-icons {
    margin-top: 40px;
  }
  .contact-icons .fab {
    margin: 0px 0px 0px 20px;
  }
}

@media (max-width: 690px) {
  .contact {
    padding: 80px 0px;
  }
  .contact-form {
    padding: 80px 0px;
  }
  .contact-form .email {
    max-width: 60%;
  }
  .contact-form .email__input {
    padding: 12px 0px 12px 15px;
  }
  .contact-form .email__btn {
    position: absolute;
    top: 8%;
    right: -3%;
    padding: 8px 11px;
  }
}

@media (max-width: 490px) {
  .contact {
    padding: 70px 0px;
  }
  .contact-form {
    padding: 60px 0px;
  }
  .contact-form .heading-01 {
    margin: 0px 0px 10px 0px;
  }
  .contact-form .email {
    max-width: 90%;
  }
  .contact-form .email__input {
    padding: 10px 0px 10px 10px;
  }
  .contact-form .email__btn {
    position: absolute;
    top: 12%;
    right: -1%;
    padding: 5px 10px;
  }
}

.footer {
  width: 100%;
  min-width: 300px;
  background-color: #f4f5f6;
  padding: 130px 0px 10px;
}

.footer-cont {
  max-width: 1560px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 20px 60px;
  border-bottom: 1px solid #c9c9c9;
}

.footer-logo {
  max-width: 420px;
}

.footer-logo .svg {
  max-width: 251px;
}

.footer-logo .desc-01 {
  line-height: 160%;
}

.footer-nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav .ul {
  margin: 0px 0px 0px 0px;
  width: 197px;
}

.footer-nav .ul-li {
  margin: 10px 0px;
  list-style: none;
  color: #010f1c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 160%;
}

.footer-nav .ul-li .a {
  color: #4d5765;
}

.footer-nav .ul-li .a:hover {
  text-decoration: underline;
  color: blue;
}

.footer-nav .ul-li .a img {
  margin: 8px 0px 0px 0px;
}

.footer-nav .ul-li:nth-child(1) {
  color: #000;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=common.css.map */