@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100;1,300;1,400&display=swap');
// spacing
$spacing-01: 0.25rem; // 4px
$spacing-02: 0.5rem; // 8px
$spacing-03: 0.75rem; // 12px
$spacing-04: 1rem; // 16px
$spacing-05: 1.25rem; // 20px
$spacing-06: 1.5rem; // 24px
$spacing-07: 2rem; // 32px
$spacing-08: 2.5rem; // 40px
$spacing-09: 3rem; // 48px
$spacing-10: 3.375rem; // 54px
$spacing-11: 4rem; // 64px
$spacing-12: 4.5rem; // 72px
$spacing-13: 5rem; // 80px
$spacing-14: 6rem; // 96px

.mb {
  &-01 {
    margin-bottom: $spacing-01;
  }
  &-02 {
    margin-bottom: $spacing-02;
  }
  &-03 {
    margin-bottom: $spacing-03;
  }
  &-04 {
    margin-bottom: $spacing-04;
  }
  &-05 {
    margin-bottom: $spacing-05;
  }
  &-06 {
    margin-bottom: $spacing-06;
  }
  &-07 {
    margin-bottom: $spacing-07;
  }
  &-08 {
    margin-bottom: $spacing-08;
  }
  &-09 {
    margin-bottom: $spacing-09;
  }
  &-10 {
    margin-bottom: $spacing-10;
  }
  &-11 {
    margin-bottom: $spacing-11;
  }
  &-12 {
    margin-bottom: $spacing-12;
  }
  &-13 {
    margin-bottom: $spacing-13;
  }
  &-14 {
    margin-bottom: $spacing-14;
  }
}

// text color
$text-black: #000;
$text-dark-black: #010f1c;
$text-white: #fff;
$text-dark-white: #949494;
// list li dot color
$list-li-color: #9e559e;
// button color
$btn-yelo: rgba(253, 202, 49, 1);
$btn-red: rgba(235, 52, 46, 1);
.heading {
  &-01,
  &-02,
  &-03 {
    font-style: normal;
    font-weight: 400;
    font-family: 'Sriracha';
  }
  &-01 {
    font-size: clamp(1.4rem, 2.5vw, 3.4rem);
  }
  &-02 {
    font-size: clamp(1.2rem, 2vw, 2.8rem);
  }
  &-03 {
    font-size: clamp(1rem, 2vw, 2rem);
  }

  //   &-heading-04 {
  //     font-size: clamp(1.5rem, 5vw, 4rem);
  //   }
  //   &-heading-05 {
  //     font-size: clamp(2rem, 5.2vw, 4.5rem);
  //   }
  //   &-heading-06 {
  //     font-size: clamp(2.5rem, 6vw, 5rem);
  //   }
}
//   description style

.desc {
  &-01 {
    font-size: clamp(1rem, 1vw, 1rem);
    font-weight: 400;
  }
  &-02 {
    font-size: clamp(1rem, 1.3vw, 1rem);
    font-weight: 500;
  }
  &-01,
  &-02 {
    font-family: 'Roboto';
    font-style: normal;
  }
  //   &-03 {
  //     font-size: clamp(1rem, 1.5vw, 1.4rem);
  //   }
  //   &-04 {
  //     font-size: clamp(1rem, 1.8vw, 1.6rem);
  //   }
  //   &-05 {
  //     font-size: clamp(1rem, 2vw, 1.8rem);
  //   }
  //   &-06 {
  //     font-size: clamp(1rem, 2.2vw, 2rem);
  //   }
}

.m-auto {
  margin: auto;
}
.m {
  &-00 {
    margin: 0;
  }
}
.w-100 {
  width: 100%;
}
.text {
  &-center {
    text-align: center;
  }
  &-start {
    text-align: start;
  }
  &-right {
    text-align: right;
  }
}
