@import 'common.scss';
// text color
$text-black: #000;
$text-dark-black: #010f1c;
$text-white: #fff;
$text-dark-white: #949494;
// list li dot color
$list-li-color: #9e559e;
// button color
$btn-yellow: #f7ac25;
$btn-red: rgba(235, 52, 46, 1);
$btn-dark: #949494;
// bg color
$bg-color: #f4f5f6;
a {
  text-decoration: none;
}
%btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  padding: 12px 30px;
  font-size: 15px;
  border-radius: 50px;
}
.btn-yellow {
  @extend %btn;
  background-color: $btn-yellow;
  color: $text-black;
  transition: all 0.5s;
  &:hover {
    background-color: $btn-dark;
    color: $text-white;
  }
}
.btn-red {
  @extend %btn;
  background-color: $btn-red;
  color: $text-white;
  &:hover {
    background-color: $btn-dark;
    color: $text-white;
  }
}
body {
  margin: 0%;
  padding: 0%;
}

// about section
.about {
  min-width: 300px;
  padding: 130px 0px;
  &-content {
    max-width: 1560px;
    .card-01 {
      max-width: 810px;
    }
    .card-02 {
      max-width: 679px;
    }
  }
  &-counter {
    max-width: 1260px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(298px, 1fr));

    .card {
      text-align: center;
      padding: 0px 30px;
      width: 129px;
      margin: 0 auto;
      .heading-01 {
        margin: 0px;
      }
      .desc-01 {
        margin: 0;
        color: #010f1c;
      }
    }
  }
}

// days section
.days {
  max-width: 1920px;
  min-width: 300px;
  padding: 112px;
  background-image: url('../bg/days.jpg');
  background-position: center;
  background-size: cover;
  &-card {
    max-width: 598px;
    padding: 40px 50px;
    margin-left: auto;
    border-radius: 20px;
    background: rgba(35, 7, 6, 0.655);
    .heading-02 {
      margin: 0px;
      line-height: 60px;
    }
    .desc-01 {
      line-height: 26px;
      margin: 25px 0px 45px 0px;
    }
  }
}
// days section responsive
@media (max-width: 933px) {
  .days {
    padding: 70px 10px;
    &-card {
      padding: 20px;
      .heading-02 {
        line-height: 40px;
      }
      .desc-01 {
        line-height: 26px;
        margin: 20px 0px 35px 0px;
      }
    }
  }
}
@media (max-width: 428px) {
  .days {
    padding: 40px 0px;
    &-card {
      .heading-02 {
        line-height: 30px;
      }
      .desc-01 {
        margin: 15px 0px 35px 0px;
      }
    }
  }
}
// contact form section
.contact {
  padding: 130px 0px;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  &-form {
    background-image: url('../bg/contact.jpg');
    max-width: 1560px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    padding: 130px 0px;
    .heading-01 {
      margin: 0px 0px 30px 0px;
    }
    .email {
      position: relative;
      max-width: 44%;
      margin: auto;
      &__input {
        width: 100%;
        padding: 19px 0px 19px 21px;
        border-radius: 50px;
        color: #949494;
      }
      &__btn {
        position: absolute;
        top: 12%;
        right: -3%;
      }
    }
  }
  &-icons {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    .fab {
      margin: 0px 0px 0px 30px;
      padding: 7px;
      font-size: 15px;
      background: #949494;
      color: #fff;
      border-radius: 50px;
      transition: all 0.5s;
      &:hover {
        background-color: rgba(253, 202, 49, 1);
      }
    }
  }
}
// responsive contact form
@media (max-width: 1560px) {
  .contact-form {
    border-radius: 0px;
  }
}
@media (max-width: 900px) {
  .contact {
    padding: 100px 0px;
    &-form {
      width: 100%;
      padding: 100px 0px;
      border-radius: 0px;
      .email {
        position: relative;
        max-width: 50%;
        margin: auto;
        &__input {
          padding: 15px 0px 15px 21px;
        }
        &__btn {
          top: 10%;
          right: -5%;
          padding: 10px 20px;
        }
      }
    }
    &-icons {
      margin-top: 40px;
      .fab {
        margin: 0px 0px 0px 20px;
      }
    }
  }
}
@media (max-width: 690px) {
  .contact {
    padding: 80px 0px;
    &-form {
      padding: 80px 0px;
      .email {
        max-width: 60%;
        &__input {
          padding: 12px 0px 12px 15px;
        }
        &__btn {
          position: absolute;
          top: 8%;
          right: -3%;
          padding: 8px 11px;
        }
      }
    }
  }
}
@media (max-width: 490px) {
  .contact {
    padding: 70px 0px;
    &-form {
      padding: 60px 0px;
      .heading-01 {
        margin: 0px 0px 10px 0px;
      }
      .email {
        max-width: 90%;
        &__input {
          padding: 10px 0px 10px 10px;
        }
        &__btn {
          position: absolute;
          top: 12%;
          right: -1%;
          padding: 5px 10px;
        }
      }
    }
    // &-icons {
    //   margin-top: 50px;
    //   justify-content: center;
    //   align-items: center;
    //   .fab {
    //     margin: 0px 0px 0px 30px;
    //     padding: 7px;
    //     font-size: 15px;
    //     background: #949494;
    //     color: #fff;
    //     border-radius: 50px;
    //     transition: all 0.5s;
    //     &:hover {
    //       background-color: rgba(253, 202, 49, 1);
    //     }
    //   }
    // }
  }
}

// footer section style
.footer {
  width: 100%;
  min-width: 300px;
  background-color: $bg-color;
  padding: 130px 0px 10px;
  &-cont {
    max-width: 1560px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 20px 60px;
    border-bottom: 1px solid rgba(201, 201, 201, 1);
  }
  &-logo {
    max-width: 420px;
    .svg {
      max-width: 251px;
    }
    .desc-01 {
      line-height: 160%;
    }
  }
  &-nav {
    flex-wrap: wrap;
    .ul {
      margin: 0px 0px 0px 0px;
      width: 197px;

      &-li {
        margin: 10px 0px;
        list-style: none;
        color: $text-dark-black;
        align-items: center;
        line-height: 160%;
        a {
          color: $text-dark-black;
          &:hover {
            text-decoration: underline;
            color: blue;
          }
        }
        img {
          margin: 8px 10px 0px 0px;
        }
      }
    }
    .ul-li:nth-child(1) {
      color: $text-black;
      margin-bottom: 1.5rem;
    }
  }
}
