@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
.mb-01 {
  margin-bottom: 0.25rem;
}

.mb-02 {
  margin-bottom: 0.5rem;
}

.mb-03 {
  margin-bottom: 0.75rem;
}

.mb-04 {
  margin-bottom: 1rem;
}

.mb-05 {
  margin-bottom: 1.25rem;
}

.mb-06 {
  margin-bottom: 1.5rem;
}

.mb-07 {
  margin-bottom: 2rem;
}

.mb-08 {
  margin-bottom: 2.5rem;
}

.mb-09 {
  margin-bottom: 3rem;
}

.mb-10 {
  margin-bottom: 3.375rem;
}

.mb-11 {
  margin-bottom: 4rem;
}

.mb-12 {
  margin-bottom: 4.5rem;
}

.mb-13 {
  margin-bottom: 5rem;
}

.mb-14 {
  margin-bottom: 6rem;
}

.heading-01, .heading-02, .heading-03 {
  font-style: normal;
  font-weight: 400;
  font-family: 'Sriracha';
}

.heading-01 {
  font-size: clamp(1.4rem, 2.5vw, 3.4rem);
}

.heading-02 {
  font-size: clamp(1.2rem, 2vw, 2.8rem);
}

.heading-03 {
  font-size: clamp(1rem, 2vw, 2rem);
}

.desc-01 {
  font-size: clamp(1rem, 1vw, 1rem);
  font-weight: 400;
}

.desc-02 {
  font-size: clamp(1rem, 1.3vw, 1rem);
  font-weight: 700;
}

.desc-01, .desc-02 {
  font-family: 'Roboto';
  font-style: normal;
}

.m-auto {
  margin: auto;
}

.m-00 {
  margin: 0;
}

.p-00 {
  padding: 0;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.t-white {
  color: white;
}

.t-black {
  color: black;
}

a {
  text-decoration: none;
}

.btn-yellow {
  padding: 11px 20px;
  background-color: #fdca31;
  border-radius: 50px;
  color: #000;
}

.contact {
  padding: 130px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
  min-width: 300px;
  border: 1px solid red;
}

.contact-form {
  background-image: url("../bg/contact.jpg");
  max-width: 1560px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  padding: 60px 0px;
}

.contact-form .heading-01 {
  color: #fff;
}

.contact-icons {
  margin-top: 50px;
}

.footer {
  min-width: 300px;
  background-color: #f4f5f6;
  padding: 130px 0px 10px;
}

.footer-cont {
  max-width: 1560px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 20px 60px;
  border-bottom: 1px solid #c9c9c9;
}

.footer-logo {
  max-width: 420px;
}

.footer-logo .svg {
  max-width: 251px;
}

.footer-logo .desc-01 {
  line-height: 160%;
}

.footer-nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav .ul {
  margin: 0px 0px 0px 0px;
  width: 197px;
}

.footer-nav .ul-li {
  margin: 10px 0px;
  list-style: none;
  color: #010f1c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 160%;
}

.footer-nav .ul-li a {
  color: #010f1c;
}

.footer-nav .ul-li a:hover {
  text-decoration: underline;
  color: blue;
}

.footer-nav .ul-li img {
  margin: 8px 10px 0px 0px;
}

.footer-nav .ul-li:nth-child(1) {
  color: #000;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=home.css.map */